<h1>new entry</h1>
<%= simple_form_for @hour, url: health_care_company_doctor_hours_path do |f| %>
  <%= f.input :weekday %>
  <%= f.input :opening_hour%>
  <%= f.input :opening_minute %>
  <%= f.input :closing_hour %>
  <%= f.input :closing_minute %>
  <%= f.submit "Add" %>
<% end %>