<h1>This practice's doctors</h1>
<% t= Time.now %>
<%= "#{t.day}/ #{t.month}/ #{t.year}" %>
<%= Date.today.strftime("%A") %>

<% @doctors.each do |doctor| %>
<ul>
<%= doctor.name %>
<%=  " id:#{doctor.id}" %>
<%= "company: #{doctor.health_care_company.id }"%>
  <%= link_to "show details", health_care_company_doctor_path(@health_care_company, doctor), method: :get %>
  <%= link_to "Delete doctor page", health_care_company_doctor_path(@health_care_company, doctor), method: :delete %>
  <% hours = doctor.hours.all %>
  <% hours.each do |h| %>
  <%= "#{h.weekday} from #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
  <% end %>
</ul>
<% end %>
 <%= link_to "Add a doctor", new_health_care_company_doctor_path, method: :get %>

