<div class="center-div">
  
  <div class="container white-bg">
    <% if (@health_care_company.name).end_with?('s') %>
    <h1> <%= "#{@health_care_company.name}' doctors." %> </h1>
  <% else %>
    <h1> <%= "#{@health_care_company.name}'s doctors." %> </h1>
  <% end %>
  <% t= Time.now %>
  <% weekday = Date.today.strftime("%A") %>
  <%= "Today is #{weekday} the #{t.day}/#{t.month}/#{t.year}" %>
  </div>
  <% @doctors.each do |doctor| %>
    <div class="container">
      <div class="doctor-info white-bg">
        <%= "Doctor #{doctor.name}"%>
        <div>
          <%= link_to ('<i class="fas fa-wrench"></i>').html_safe, health_care_company_doctor_path(@health_care_company, doctor), method: :get ,class: "btn btn-light"%>
          <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe , health_care_company_doctor_path(@health_care_company, doctor), method: :delete ,class: "btn btn-light"%>
        </div>
      </div>
           
      <% hours = doctor.hours.all %>
      <div class="week">
        <div class="day white-bg">
          <span class="black-bd day-header"> <%= weekday == "Monday" ? "<b>Monday</b>".html_safe : "Monday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Monday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div> 
         <div class="day white-bg">
          <span class="black-bd day-header"><%= weekday == "Tuesday" ? "<b>Tuesday</b>".html_safe : "Tuesday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Tuesday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div>
         <div class="day white-bg">
          <span class="black-bd day-header"> <%= weekday == "Wednesday" ? "<b>Wednesday</b>".html_safe : "Wednesday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Wednesday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div> 
         <div class="day white-bg">
          <span class="black-bd day-header"> <%= weekday == "Thursday" ? "<b>Thursday</b>".html_safe : "Thursday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Thursday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div> 
         <div class="day white-bg">
          <span class="black-bd day-header"> <%= weekday == "Friday" ? "<b>Friday</b>".html_safe : "Friday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Friday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div> 
         <div class="day white-bg">
         <span class="black-bd day-header">  <%= weekday == "Saturday" ? "<b>Saturday</b>".html_safe : "Saturday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Saturday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div> 
         <div class="day white-bg">
         <span class="black-bd day-header"> <%= weekday == "Sunday" ? "<b>Sunday</b>".html_safe : "Sunday" %></span>
          <% hours.each do |h| %>
            <% if h.weekday == "Sunday"%>
              <%= " #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
              <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "delete-hour btn btn-light"  %>
            <% end %>
          <% end %>  
        </div>     
      </div>  
    </div>  
  <% end %>
  <div class="container">
    <%= link_to ('<i class="fas fa-arrow-left"></i>').html_safe, health_care_companies_path, method: :get ,class: "btn btn-light"%>
    <%= link_to ('<i class="fas fa-plus-square"></i>').html_safe, new_health_care_company_doctor_path, method: :get ,class: "btn btn-light"%>  
  </div>
</div>






