<div >
  <h1>This practice's doctors</h1>
  <% t= Time.now %>
  <% weekday = Date.today.strftime("%A") %>
  <%= "Today is #{weekday} the #{t.day}/#{t.month}/#{t.year}" %>
  <% @doctors.each do |doctor| %>
    <div class="container">
      <%= "Doctor #{doctor.name}"%>
      <%= link_to "show details", health_care_company_doctor_path(@health_care_company, doctor), method: :get ,class: "btn btn-light"%>
      <%= link_to "Delete doctor page", health_care_company_doctor_path(@health_care_company, doctor), method: :delete ,class: "btn btn-light"%>
      <i class="fas fa-trash-alt"></i>
      <% hours = doctor.hours.all %>
      <div class="week">
        <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      <div class="day">
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <% hours.each do |h| %>
                <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
                <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
            <% end %>
          <% end %>  
      </div> 
      </div>
      
    </div>  
  <% end %>

  <%= link_to "Add a doctor", new_health_care_company_doctor_path, method: :get ,class: "btn btn-light"%>
  <%= link_to "Go back to practices list", health_care_companies_path, method: :get ,class: "btn btn-light"%>


<% if false %>
      <% hours.each do |h| %>
          <% if weekday == "Saturday"%>
            <b><%= "Mondays" %></b>
            <%= "From #{h.opening_hour.rjust(2, '0')}:#{h.opening_minute.rjust(2, '0')} to #{h.closing_hour.rjust(2, '0')}:#{h.closing_minute.rjust(2, '0')}" %>
            <%= link_to "Delete opening time", health_care_company_doctor_hour_path(@health_care_company, doctor, h), method: :delete,class: "btn btn-light"  %>
          <% end %>
        <% end %>  
<% end %>